<!--Using twitter bootstrap style classes to display contents in panel-->
<div class='panel panel-libary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'> Filter by: </div>
            <div class='col-md-4'>
                <!-- to specify two way binding in Angular, we use ngModel directive-->
                <!-- property binding from the class property to the input element and parenthese to indicate property binding, so send a notification of the user enterted data back to the class property-->
                <!-- Angular also needs to find ngModel directive-->
                <!-- Associating  it with listFilter property-->
                <input type='text'
                    [(ngModel)]='listFilter' />
            </div>

        </div>
        <div class='row'>
           <div class='col-md-6'>
               <!-- we want listFilter to be listed here, so used interpolation-->
               <h3>Filtered By: {{listFilter}} </h3>
           </div>
        </div>
        <div class="table-responsive">
            <table class="table" ng-if='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <!-- click is the event and assign it to the method-->
                            <!-- when the user clicks the button, the binding calls our method-->
                            <!-- one can find all the events at https://developer.mozilla.org/en-US/docs/Web/Events-->
                            <button class='btn btn-primary'
                                (click)='toggleImage()'>
                                {{ showImage ? 'Hide' : 'Show' }} Image
                            </button>
                        </th>
                        <th>Product </th>
                        <th>Code </th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Bind it to filteredProducts property-->
                    <tr  *ngFor='let product of filteredProducts'>
                        <!--place holder for images-->
                        <td>
                            <!-- using property binding to bind image source property , we enclose the src in square brackets-->
                            <!-- element will be added to the DOM only when show image is true-->
                            <!-- this is to either show or hide the image-->
                            <!-- we want this image element if the showImage flag is true-->
                            <img *ngIf='showImage'
                                [src]='product.imageUrl' 
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <!--using interpolation to get values of propert-->
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode | lowercase | convertToSpaces: '-'}}</td>
                        <td>{{product.releaseDate}}</td>
                        <!-- adding pipe to tranfor data-->
                        <!-- 1.2-2, at least one number to the left of the decimal place and only two numbers to the right of the decimal place-->
                        <td>{{product.price | currency:'USD':true:'1.2-2' }}</td>
                        <!--using Star Component, replacing binding by directive-->
                        <td><pm-star></pm-star></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>